
<div th:fragment="b-content">
    <h2>This is part of B Page</h2>
    <p>This content comes from b.html</p>
</div>

<div th:fragment="c-content">
    <p>C test</p>
</div>

<div th:fragment="visitorAjax">
    <div>
        <script th:inline="javascript">
            // let accessToken = "ya29.a0Ad52N38vm0h0Bhdks54oiJxgf0OKOjzwHeQMC2Cv2_RXj2BqQM253ELC6p2HkwOb64sEjRT58-wSNXlG8IIpjqJE8vNnzQcPiEgPZBr2HlA_M0HhjQiUv2Wj9sozwZDZZv78zBA1E6sxkGG2ONCz00hLcZ8xa-ZZs6ucaCgYKASoSARMSFQHGX2MiF7E5nJS6dR9tGx-Uj039bg0171";
            $(document).ready(function() {
                $.ajax({
                    url: "/oauth2/ga4",
                    // url: '/protoType/oauth2',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    // data: {
                    //   "accessToken" : accessToken
                    // },
                    data: accessToken,
                    success: function(data) {
                        console.log(data);
/*
                        $('#todayVisitors').text(data.todayVisitors);
                        $('#allVisitors').text(data.allVisitors);*/
                    },
                    error: function(xhr, status, error) {
                        console.log('Error:', error);
                    }
                });
            });
        </script>
    </div>
    <h1>방문자 수</h1>
    <div>오늘 방문자 수: <span id="todayVisitors"></span></div>
    <div>전체 방문자 수: <span id="allVisitors"></span></div>
</div>
